.cartMenu{
    width: 500px;
    height: calc(100vh - 62px);
    margin-top: 62px;
    box-sizing: border-box;
}

.scrollable-cards {
	overflow-y: scroll;
}

.scrollable-cards::-webkit-scrollbar {
    width: 8px;
    /* overflow-x: hidden; */
  }

.scrollable-cards::-webkit-scrollbar-track {
    background: none;
    /* overflow-x: hidden; */
}

.scrollable-cards::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
    border-radius: 12px;
    border: 1px solid #BDBDBD;
    /* overflow-x: hidden; */
}


@media (max-width: 910px){
    .cartMenu{
        width: 100%;
    }
}