.allMyOrdersCardContainer{
    width: 40%;
}

.scrollable-cards {
	overflow-y: scroll;
    overflow-x: hidden;
}

.scrollable-cards::-webkit-scrollbar {
    width: 8px;
    /* overflow-x: hidden; */
  }

.scrollable-cards::-webkit-scrollbar-track {
    background: none;
    /* overflow-x: hidden; */
}

.scrollable-cards::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
    border-radius: 12px;
    border: 1px solid #BDBDBD;
    /* overflow-x: hidden; */
}
